*{
    margin: 0;
    padding 0;
    text-decoration: none;
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

.bgContainer{
    position: fixed;
    background-image: url(../images/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.container{
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 16%;
    min-height: 100%;
    max-height: 100%;
    display: inline-block;
}

.subContainer{
    background-color: blue;
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 55px;
    background-color: rgba(0, 20, 33, 0.6);
    margin: auto;
}

.content{
    position: relative;
    font-size: 24px;
    padding: 25px;
    width: 50%;
    display: 
}

.playlist {
    position: relative;
    width: 50%;
    padding: 25px;
    z-index: 9999;
}

.playlist button{
    color: #269bff;
    font-size: 2.3vmin;
    font-family: 'Open Sans', sans-serif;
}

.audioPlayer{
    position: relative;
    width: 100%;
    text-align: center;
}

.portrait{
    transition: all 0.7s ease-in-out;
    background-image: url(../images/LloydPrice.webp);
    position: relative;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 5%;
}

.fa-play{
    opacity: 0;
    cursor: pointer;
    color: #269bff;
    font-size: 1em;
}

.opacityOne{
    opacity: 1;
}

button{
    width: 100%;
    background-color: rgba(0, 20, 33, 0.5);
    text-align: left;
    outline: 0;
    border: none;
    margin: 1%;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: rgba(0, 20, 33, 1);
    cursor: pointer;
}

button:active{
    transform: scale(1.1);
}

.title{
    position: absolute;
    color: white;
    transform: translate(0,-100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
}

.titleImg{
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
}

.img1{
    position: absolute;
    width: 25%;
    float: left;
    z-index: -1;
    left: -3%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
        
}

.img2{
    position: absolute;
    float: right;
    width: 25%;
    z-index: -1;
    left: 75%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.name{
    color: #269bff;
    font-family: 'Open Sans', sans-serif;
    text-align: center
}