*{
    margin: 0;
    padding 0;
    text-decoration: none;
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow: hidden;
}

.bgContainer{
    position: fixed;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.container{
    position: relative;
    width: 100%;
    margin: auto;
    padding-top: 10%;
    min-height: 100%;
    max-height: 100%;
}

.subContainer{
    background-color: blue;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 55px;
    background-color: rgba(0, 20, 33, 0.6);
    margin: auto;
    flex-wrap: wrap;
    padding: 1%;
}

.content{
    width: 40%;
    margin-left: 2%;
}

.playlist {
    position: relative;
    width: 49%;
    z-index: 9999;
    height: 550px;
    overflow: inherit;
}

.playlist button{
    color: #269bff;
    font-size: 1.2vw;
    font-family: 'Open Sans', sans-serif;
}

button{
    width: 98%;
    background-color: rgba(0, 20, 33, 0.5);
    text-align: left;
    outline: 0;
    border: none;
    margin: 1%;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
}

button:hover{
    background-color: rgba(0, 20, 33, 1);
    cursor: pointer;
}

button:active{
    transform: scale(1.1);
}


.audioPlayer{
    width: 100%;
    align-self:flex-end;
    margin-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.audioPlayer audio{
    width: 90%;
}

.portrait{
    margin: auto;
    height: 100%;
    width: 100%;
    transition: all 0.7s ease-in-out;
    background-image: url(../images/host.jpg);
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}

.fa-play{
    opacity: 0;
    cursor: pointer;
    color: #269bff;
    font-size: 1em;
}

.opacityOne{
    opacity: 1;
}

.title{
    position: absolute;
    color: white;
    transform: translate(0,-100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
}

.titleImg{
    position: absolute;
    width: 40%;
    left: 50%;
    transform: translate(-50%,-100%);
}

.img1{
    position: absolute;
    width: 25%;
    float: left;
    z-index: -1;
    left: -6%;
    bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.img2{
    position: absolute;
    width: 25%;
    z-index: -1;
    left: 75%;
    bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.name{
    color: #269bff;
    font-family: 'Open Sans', sans-serif;
    text-align: center
}

.name h1{
    font-size: 1.5vw;
}

.fa-random{
    color: #269bff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    background-color: rgba(0, 20, 33, 0.6);
    border-radius: 50%;
    padding: 20%;
    transition: all 0.1s ease-in-out;
}

.fa-step-forward{
    color: #269bff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    background-color: rgba(0, 20, 33, 0.6);
    border-radius: 50%;
    padding: 20%;
    transition: all 0.1s ease-in-out;
}

.fa-step-backward{
    color: #269bff;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    background-color: rgba(0, 20, 33, 0.6);
    border-radius: 50%;
    padding: 20%;
    transition: all 0.1s ease-in-out;
}

.controls{
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 1%;
}

.controlButton :hover{
    cursor: pointer;
    background-color: rgba(0, 20, 33, 1);
}

.controlButton :active{
    color: white;
}

.songTitleContainer{
    width: 100%;
    margin: auto;
    height: 4vh;
    margin-bottom: 1%;
}

.songTitle{
    width: 100%;
    margin: auto;
    height: 100%;
}

.songTitle h1{
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    color: #269bff;
    font-size: 2vw;
}

/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {
    .playlist{
        height: 400px;
    }
    .titleImg{
        width: 20%;
    }
    .container{
    padding-top: 5.5%;
    }
    .songTitleContainer{
    height: 5vh;
    }
}

/*Phones*/
@media only screen and (max-width: 1000px) {
    .playlist {
    height: 65vh;
    width: 100%;
    background-color: rgba(0, 20, 33, 0.5);
    }
    .playlist button{
    font-size: 5vw;
    }
    .content{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .subContainer{
        width: 90%;
        padding: 5%;
    }
    .titleImg{
        width: 70%;
    }
    .container{
        padding-top: 18%;
    }
    .img1 , .img2{
        visibility: hidden;
    }
    .audioPlayer{
        order: -1;
    }
    .fa-random{
        font-size: 7vw;
        padding: 0px 40% 0px;
        background-color: none;
        background-color: rgba(0, 20, 33, 0.0);
        border-radius: 0;
    }
    .fa-step-forward{
        font-size: 7vw;
        padding: 0px 40% 0px;
        background-color: rgba(0, 20, 33, 0.0);
        border-radius: 0;
    }
    .fa-step-backward{
        font-size: 7vw;
        padding: 0px 40% 0px;
        background-color: rgba(0, 20, 33, 0.0);
        border-radius: 0;
    }    
    .controls{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 20, 33, 0.3);
    }
    .songTitle h1{
    font-size: 5vw;
    }
    .songTitleContainer{
    height: 9vh;
    }
    button{
        margin: 3% 0px;
    }
}